@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1576225290228'); /* IE9 */
  src: url('iconfont.eot?t=1576225290228#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK0AAsAAAAABmwAAAJmAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp0gRQBNgIkAwgLBgAEIAWEbQcxG7sFEdWTD2Q/D2xH9OSSVTHe6j1LlJoInZD+c/D8u192X5KZppkCkqwDpiUGyW5P3TpgYRgkkt3fAAEyczc3q65REYolOQ/+l+9IuxkhjA+AP+4d/5EvkPmAclx706QuoC4OpIDG2hRZkUTeMHaBSzgOARxpSkh9Y3s/FoM1TgBZvGDeDGzOjcGwmEXw1yw1yHF8WHVA3QHHwu/LF5YFhU9jFXTPbZhN9ftJO0Fv97aP+1pOzmcE2CrQQAkwIP214U40wigaFzZkYV+5Au8nPc/XIntVIeyvs7JDAEiB7HviuNxbjSmA22pLDigbdSNIzibpePKk/9mzwefPh2IPxdI3VDT44mCcqyE9fTrQVUp//p/IyWxk9dphjyRr1m4/vGbdsPy0TM2+eb1h6sLs87I8/JS+e08D4qn794yn9f30hzKpBsBb9HL1mQCBSwu2fJkWXv7PBgwArxIXydDpLYZ+Vti9WwT+EqdnjdF5lkYZlVPbqMg5e5HDAZ7A9ijvxspjbykuWGJHWINITe0aO5PQQEIJ+AhQCn4sVeAo1rQ6QLSVaMQEA0X2ABAiXARFGLdBE+EuYghvwUecb+AnIg2OQYneMkBeXJR1hIrRgv5DNOviHB3LKPeF/iyKsryQ+kM6og/6pivGZlyQ5phxXH5gduBorTCB07CUFTZaExpuAvM2tq2re1Nj1iqkOkLFaEH/IZp1cX5zlqXPv9CfRVFLVY31h3TEzqFvuh7ILF56Vd3LK8flB2YHjtYKExiEpayw1Q9KaLgJI4Lb2Nr1XF9xs760ft0WwLEUKruvJujhVE9chAAAAAA=') format('woff2'),
  url('iconfont.woff?t=1576225290228') format('woff'),
  url('iconfont.ttf?t=1576225290228') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1576225290228#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\e65e";
}

